.about-me-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-me {
  padding-top: 64px;
}

@media screen and (min-width: 1440px) {
  .about-me {
    padding-top: 96px;
  }
}

.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .about-me-container {
    gap: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-container {
    gap: 96px;
  }
}

.about-me-text-img-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
}

@media screen and (min-width: 1440px) {
  .about-me-text-img-container {
    flex-direction: row;
  }
}

.about-me-text {
  box-sizing: border-box;
  padding: 32px;
  height: 500px;
  background-color: #242527;
  border: none;
  border-radius: 24px;
  font-family: Inter Tight;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #fafafa;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about-me-text {
    width: 704px;
    height: 700px;
    padding: 64px;
    font-size: 38px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-text {
    width: 680px;
  }
}

.about-me-red {
  color: var(--accent);
}

.about-me-grey {
  color: #fafafa66;
}

.about-me-img {
  height: 500px;
  border-radius: 24px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about-me-img {
    width: 704px;
    height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-img {
    width: 680px;
  }
}

ul.about-me-accordion-container > li.ac {
  margin-top: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fafafa33;
  background-color: #1c1d20;
  padding-bottom: 32px;
}

section#about-me .ac.is-active .ac-trigger-icon-down {
  display: none;
}

section#about-me li.ac.is-active .ac-trigger-icon-up {
  display: block;
}

@media screen and (min-width: 768px) {
  ul.about-me-accordion-container > li.ac {
    margin-top: 32px;
  }
}

ul.about-me-accordion-container h2.ac-header button.ac-trigger {
  display: flex;
  justify-content: space-between;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa66;
  text-transform: uppercase;
  padding: 0px;
}

ul.about-me-accordion-container h2.ac-header button.ac-trigger::after {
  content: none;
}

ul.about-me-accordion-container .ac.is-active > .ac-header .ac-trigger::after {
  content: none;
}

section#about-me button.ac-trigger > .ac-trigger-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid #fafafa33;
  background-color: #1c1d20;
}

@media screen and (min-width: 1440px) {
  section#about-me button.ac-trigger > .ac-trigger-icon {
    width: 40px;
    height: 40px;
  }
}

section#about-me button.ac-trigger svg.ac-trigger-icon-down {
  width: 18px;
  height: 18px;
  stroke: #fafafa;
}

@media screen and (min-width: 768px) {
  section#about-me button.ac-trigger svg.ac-trigger-icon-down {
    width: 20px;
    height: 20px;
  }
}

section#about-me button.ac-trigger svg.ac-trigger-icon-up {
  display: none;
  width: 18px;
  height: 18px;
  stroke: #fafafa;
}

@media screen and (min-width: 768px) {
  section#about-me button.ac-trigger svg.ac-trigger-icon-up {
    width: 20px;
    height: 20px;
  }
}

section#about-me li.ac div.ac-panel .ac-text {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
  margin-top: 12px;
  padding: 0px;
}

@media screen and (min-width: 1440px) {
  section#about-me li.ac div.ac-panel .ac-text {
    padding-left: 696px;
    padding-right: 68px;
  }
}

section#about-me div.ac-panel p.about-me-add-text {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  section#about-me div.ac-panel p.about-me-add-text {
    margin-top: 32px !important;
  }
}

@media screen and (min-width: 1440px) {
  section#about-me div.ac-panel p.about-me-add-text {
    padding-left: 696px;
  }
}

ul.ac-text li.about-me-ac-list-item {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
  margin-bottom: 10px;
  padding: 0px;
}

.about-me-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.about-me-swiper {
  overflow: hidden;
}

section#about-me .swiper-button-next:after {
  content: none;
}

section#about-me .swiper-wrapper {
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
}

@media screen and (min-width: 768px) {
  section#about-me .swiper-wrapper {
    width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  section#about-me .swiper-wrapper {
    width: 1200px;
  }
}

section#about-me ul.swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  border: 1px solid #fafafa33;
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  transition: background-color 250ms ease-in-out;
}

section#about-me .swiper-slide-active {
  background-color: var(--accent);
  border: none;
}

@media screen and (min-width: 768px) {
  section#about-me ul.swiper-wrapper .swiper-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}

section#about-me .swiper-button-next {
  margin-left: 55px;
}

.about-me-swiper-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.about-me-swiper-btn-icon {
  stroke: #3b3b3b;
  transition: stroke ease 250ms;
  fill: none;
  width: 28px;
  height: 28px;
}

.about-me-swiper-btn:hover .about-me-swiper-btn-icon {
  stroke: #fff;
}

@media screen and (min-width: 768px) {
  .about-me-swiper-btn-icon {
    width: 40px;
    height: 40px;
  }
}
