<section id="about-me" data-aos="fade-right" class="about-me">
  <div class="container about-me-container">
    <h2 class="about-me-hidden">About Me</h2>
    <div class="about-me-text-img-container">
      <p class="about-me-text">
        I work with people all over the world to create impressive and
        <span class="about-me-red">functional</span>
        <span class="about-me-grey">websites</span> that reflect each client's
        unique personality.
      </p>
      <img
        srcset="
          /img/about-me/photo-desktop.jpg    1x,
          /img/about-me/photo-desktop@2x.jpg 2x
        "
        src="./img/about-me/photo-desktop.jpg"
        alt="Lloyd Jefferson"
        class="about-me-img"
      />
    </div>

    <ul class="about-me-accordion-container">
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            About Me
            <span class="ac-trigger-icon">
              <svg class="ac-trigger-icon-down">
                <use href="/img/icons.svg#icon-arrow-down"></use>
              </svg>
              <svg class="ac-trigger-icon-up">
                <use href="/img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me-add-text ac-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Role
            <span class="ac-trigger-icon">
              <svg class="ac-trigger-icon-down">
                <use href="/img/icons.svg#icon-arrow-down"></use>
              </svg>
              <svg class="ac-trigger-icon-up">
                <use href="/img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <ul class="ac-text">
            <li class="about-me-ac-list-item">Frontend development</li>
            <li class="about-me-ac-list-item">HeadlessCMS,Wordpress</li>
            <li class="about-me-ac-list-item">Blender(enjoy)</li>
          </ul>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Education
            <span class="ac-trigger-icon">
              <svg class="ac-trigger-icon-down">
                <use href="/img/icons.svg#icon-arrow-down"></use>
              </svg>
              <svg class="ac-trigger-icon-up">
                <use href="/img/icons.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <ul class="ac-text">
            <li class="about-me-ac-list-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="about-me-ac-list-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="about-me-ac-list-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="about-me-skills">
      <div class="about-me-swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">HTML/CSS</li>
          <li class="swiper-slide">JavaScript</li>
          <li class="swiper-slide">React</li>
          <li class="swiper-slide">Node.js</li>
          <li class="swiper-slide">React Native</li>
          <li class="swiper-slide">TypeScript</li>
          <li class="swiper-slide">Vue.js</li>
          <li class="swiper-slide">Soft Skills</li>
        </ul>
      </div>
      <div class="swiper-button-next">
        <button type="button" class="about-me-swiper-btn">
          <svg class="about-me-swiper-btn-icon">
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
