<section id="covers-section">
  <div class="container">
    <h2 class="covers-visually-hidden">Covers</h2>
    <div class="covers-content">
      <div class="covers-marquee">
        <ul class="covers-marquee__inner">
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/energyflow-desktop.jpg    1x,
                  /img/covers/energyflow-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/energyflow.jpg    1x,
                  /img/covers/energyflow@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/energyflow-mobile.jpg    1x,
                  /img/covers/energyflow-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/energyflow-desktop.jpg"
                alt="energyflow"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/powerpulse-desktop.jpg    1x,
                  /img/covers/powerpulse-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/powerpulse.jpg    1x,
                  /img/covers/powerpulse@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/powerpulse-mobile.jpg    1x,
                  /img/covers/powerpulse-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/powerpulse-desktop.jpg"
                alt="powerpulse"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/wallet-desktop.jpg    1x,
                  /img/covers/wallet-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="/img/covers/wallet.jpg 1x, /img/covers/wallet@2x.jpg 2x"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/wallet-mobile.jpg    1x,
                  /img/covers/wallet-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/wallet-desktop.jpg"
                alt="wallet"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/englishexcellence-desktop.jpg    1x,
                  /img/covers/englishexcellence-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/englishexcellence.jpg    1x,
                  /img/covers/englishexcellence@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/englishexcellence.jpg    1x,
                  /img/covers/englishexcellence@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/englishexcellence-desktop.jpg"
                alt="englishexcellence"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/greenharvest-desktop.jpg    1x,
                  /img/covers/greenharvest-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/greenharvest.jpg    1x,
                  /img/covers/greenharvest@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/greenharvest-mobile.jpg    1x,
                  /img/covers/greenharvest-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/greenharvest-desktop.jpg"
                alt="greenharvest"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/ukrainian_artistry-desktop.jpg    1x,
                  /img/covers/ukrainian_artistry-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/ukrainian_artistry.jpg    1x,
                  /img/covers/ukrainian_artistry@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/ukrainian_artistry-mobile.jpg    1x,
                  /img/covers/ukrainian_artistry-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/ukrainian_artistry-desktop.jpg"
                alt="ukrainian_artistry"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/mimino-desktop.jpg    1x,
                  /img/covers/mimino-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="/img/covers/mimino.jpg 1x, /img/covers/mimino@2x.jpg 2x"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/mimino-mobile.jpg    1x,
                  /img/covers/mimino-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/mimino-desktop.jpg"
                alt="mimino"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/chego-jewelry-desktop.jpg 1x,
                  /img/covers/chego-jewelry@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/chego-jewelry.jpg    1x,
                  /img/covers/chego-jewelry@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/chego-jewelry-mobile.jpg    1x,
                  /img/covers/chego-jewelry-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/chego-jewelry-desktop.jpg"
                alt="chego-jewelry"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/fruitbox-desktop.jpg 1x,
                  /img/covers/fruitbox@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/fruitbox.jpg    1x,
                  /img/covers/fruitbox@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/fruitbox-mobile.jpg    1x,
                  /img/covers/fruitbox-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/fruitbox-desktop.jpg"
                alt="fruitbox"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/energyflow-desktop.jpg    1x,
                  /img/covers/energyflow-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/energyflow.jpg    1x,
                  /img/covers/energyflow@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/energyflow-mobile.jpg    1x,
                  /img/covers/energyflow-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/energyflow-desktop.jpg"
                alt="energyflow"
                width="544"
                height="314"
              />
            </picture>
          </li>
        </ul>
        <ul class="covers-marquee__inner">
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  /img/covers/fruitbox-desktop.jpg 1x,
                  /img/covers/fruitbox@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  /img/covers/fruitbox.jpg    1x,
                  /img/covers/fruitbox@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/covers/fruitbox-mobile.jpg    1x,
                  /img/covers/fruitbox-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="/img/covers/fruitbox-desktop.jpg"
                alt="fruitbox"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/ukrainian_artistry-desktop.jpg    1x,
                  ./img/covers/ukrainian_artistry-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/ukrainian_artistry.jpg    1x,
                  ./img/covers/ukrainian_artistry@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/ukrainian_artistry-mobile.jpg    1x,
                  ./img/covers/ukrainian_artistry-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/ukrainian_artistry-desktop.jpg"
                alt="ukrainian_artistry"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/chego-jewelry-desktop.jpg 1x,
                  ./img/covers/chego-jewelry@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/chego-jewelry.jpg    1x,
                  ./img/covers/chego-jewelry@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/chego-jewelry-mobile.jpg    1x,
                  ./img/covers/chego-jewelry-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/chego-jewelry-desktop.jpg"
                alt="chego-jewelry"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/energyflow-desktop.jpg    1x,
                  ./img/covers/energyflow-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/energyflow.jpg    1x,
                  ./img/covers/energyflow@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/energyflow-mobile.jpg    1x,
                  ./img/covers/energyflow-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/energyflow-desktop.jpg"
                alt="energyflow"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/fruitbox-desktop.jpg 1x,
                  ./img/covers/fruitbox@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/fruitbox.jpg    1x,
                  ./img/covers/fruitbox@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/fruitbox-mobile.jpg    1x,
                  ./img/covers/fruitbox-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/fruitbox-desktop.jpg"
                alt="fruitbox"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/energyflow-desktop.jpg    1x,
                  ./img/covers/energyflow-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/energyflow.jpg    1x,
                  ./img/covers/energyflow@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/energyflow-mobile.jpg    1x,
                  ./img/covers/energyflow-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/energyflow-desktop.jpg"
                alt="energyflow"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/mimino-desktop.jpg    1x,
                  ./img/covers/mimino-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/mimino.jpg    1x,
                  ./img/covers/mimino@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/mimino-mobile.jpg    1x,
                  ./img/covers/mimino-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/mimino-desktop.jpg"
                alt="mimino"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/powerpulse-desktop.jpg    1x,
                  ./img/covers/powerpulse-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/powerpulse.jpg    1x,
                  ./img/covers/powerpulse@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/powerpulse-mobile.jpg    1x,
                  ./img/covers/powerpulse-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/powerpulse-desktop.jpg"
                alt="powerpulse"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/wallet-desktop.jpg    1x,
                  ./img/covers/wallet-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/wallet.jpg    1x,
                  ./img/covers/wallet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/wallet-mobile.jpg    1x,
                  ./img/covers/wallet-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/wallet-desktop.jpg"
                alt="wallet"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/englishexcellence-desktop.jpg    1x,
                  ./img/covers/englishexcellence-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/englishexcellence.jpg    1x,
                  ./img/covers/englishexcellence@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/englishexcellence.jpg    1x,
                  ./img/covers/englishexcellence@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/englishexcellence-desktop.jpg"
                alt="englishexcellence"
                width="544"
                height="314"
              />
            </picture>
          </li>
        </ul>
        <ul class="covers-marquee__inner">
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/greenharvest-desktop.jpg    1x,
                  ./img/covers/greenharvest-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/greenharvest.jpg    1x,
                  ./img/covers/greenharvest@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/greenharvest-mobile.jpg    1x,
                  ./img/covers/greenharvest-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/greenharvest-desktop.jpg"
                alt="greenharvest"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/englishexcellence-desktop.jpg    1x,
                  ./img/covers/englishexcellence-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/englishexcellence.jpg    1x,
                  ./img/covers/englishexcellence@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/englishexcellence.jpg    1x,
                  ./img/covers/englishexcellence@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/englishexcellence-desktop.jpg"
                alt="englishexcellence"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/fruitbox-desktop.jpg 1x,
                  ./img/covers/fruitbox@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/fruitbox.jpg    1x,
                  ./img/covers/fruitbox@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/fruitbox-mobile.jpg    1x,
                  ./img/covers/fruitbox-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/fruitbox-desktop.jpg"
                alt="fruitbox"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/greenharvest-desktop.jpg    1x,
                  ./img/covers/greenharvest-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/greenharvest.jpg    1x,
                  ./img/covers/greenharvest@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/greenharvest-mobile.jpg    1x,
                  ./img/covers/greenharvest-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/greenharvest-desktop.jpg"
                alt="greenharvest"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/chego-jewelry-desktop.jpg 1x,
                  ./img/covers/chego-jewelry@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/chego-jewelry.jpg    1x,
                  ./img/covers/chego-jewelry@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/chego-jewelry-mobile.jpg    1x,
                  ./img/covers/chego-jewelry-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/chego-jewelry-desktop.jpg"
                alt="chego-jewelry"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/mimino-desktop.jpg    1x,
                  ./img/covers/mimino-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/mimino.jpg    1x,
                  ./img/covers/mimino@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/mimino-mobile.jpg    1x,
                  ./img/covers/mimino-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/mimino-desktop.jpg"
                alt="mimino"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/powerpulse-desktop.jpg    1x,
                  ./img/covers/powerpulse-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/powerpulse.jpg    1x,
                  ./img/covers/powerpulse@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/powerpulse-mobile.jpg    1x,
                  ./img/covers/powerpulse-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/powerpulse-desktop.jpg"
                alt="powerpulse"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/wallet-desktop.jpg    1x,
                  ./img/covers/wallet-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/wallet.jpg    1x,
                  ./img/covers/wallet@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/wallet-mobile.jpg    1x,
                  ./img/covers/wallet-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/wallet-desktop.jpg"
                alt="wallet"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/englishexcellence-desktop.jpg    1x,
                  ./img/covers/englishexcellence-desktop@2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/englishexcellence.jpg    1x,
                  ./img/covers/englishexcellence@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/englishexcellence.jpg    1x,
                  ./img/covers/englishexcellence@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/englishexcellence-desktop.jpg"
                alt="englishexcellence"
                width="544"
                height="314"
              />
            </picture>
          </li>
          <li class="covers-marquee__line">
            <picture>
              <source
                srcset="
                  ./img/covers/chego-jewelry-desktop.jpg 1x,
                  ./img/covers/chego-jewelry@2x.jpg      2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./img/covers/chego-jewelry.jpg    1x,
                  ./img/covers/chego-jewelry@2x.jpg 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/covers/chego-jewelry-mobile.jpg    1x,
                  ./img/covers/chego-jewelry-mobile@2x.jpg 2x
                "
                media="(max-width:767px )"
              />

              <img
                src="./img/covers/chego-jewelry-desktop.jpg"
                alt="chego-jewelry"
                width="544"
                height="314"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
