.covers-marquee {
  position: relative;
  max-height: 508px;
  overflow: hidden;
}

.covers-marquee__inner {
  position: relative;
  bottom: 100px;
  display: flex;
  transform: rotate(16deg);
  margin-top: 0;
}

.covers-marquee__line {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.covers-marquee__line img {
  width: 282.29px;
  height: 162.94px;
  object-fit: fill;
  margin-right: 20px;
  margin-top: 25px;
}

/* / */

.img-bg-part {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.covers-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .covers-marquee {
    max-height: 960px;
  }
  .covers-marquee__line img {
    width: 544px;
    height: 314px;
  }

  .covers-marquee__line {
    margin-right: 40px;
    margin-top: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .covers-marquee__inner {
    bottom: 200px;
  }
  .covers-marquee__line img {
    width: 544px;
    height: 314px;
  }

  .covers-marquee__line {
    margin-right: 40px;
    margin-top: 45px;
  }
}
