/* ---------------- MOBILE ---------------- */
.section-hero {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 17px;
  /* background-image: url(/img/hero/mobile-hero.png); */

  background-position: center;
  background-size: cover;
}
.section-hero::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0 50% 0 0;
  z-index: -1;
  background: repeating-linear-gradient(
      90deg,
      rgba(127, 127, 127, 0.2) 0px,
      rgba(255, 255, 255, 0.07) 1.75%,
      rgba(0, 0, 0, 0.15) 2.33%,
      rgba(127, 127, 127, 0.2) 8.33%
    ),
    linear-gradient(90deg, var(--accent) 0%, #1c1d20);
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .section-hero {
    /* background-image: url(/img/hero/mobile-hero@2x.png); */
  }
}

.logo-lloyd-hero {
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  padding-top: 281px;
  padding-bottom: 212px;
  display: flex;
  flex-direction: column;
}

.soc-menu {
  display: flex;
  gap: 8px 4px;
  padding-bottom: 32px;
  flex-wrap: wrap;
}

.soc-menu :hover {
  border-color: #fafafa;
}
.soc-menu :focus {
  border-color: #fafafa;
}

.soc-menu-list {
  font-size: 14px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: none;
  border-radius: 60px;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-soc-link {
  color: #fafafa;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.02em;
}
.soc-menu-email {
  font-size: 14px;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 10px 10px 10px;
  height: 37px;
}

/* ----------------------- TABLET -------------------------- */
@media screen and (min-width: 768px) {
  .section-hero {
    /* background-image: url(/img/hero/tablet-hero.png); */
    padding: 0 32px;
    max-width: 768px;
  }

  .hero-soc-link {
    font-size: 16px;

    line-height: 19.36px;
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .section-hero {
      /* background-image: url(/img/hero/tablet-hero@2x.png); */
    }
  }

  .logo-lloyd-hero {
    font-size: 90px;
    padding-top: 300px;
    padding-bottom: 187px;
  }

  .soc-menu {
    justify-content: flex-end;
  }
  .soc-menu-email {
    font-size: 16px;
  }
}
/* ----------------------- DESCTOP --------------------- */

@media screen and (min-width: 1440px) {
  .section-hero {
    max-width: 1440px;
    /* background-image: url(/img/hero/desktop-hero.png); */
  }

  @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .section-hero {
      /* background-image: url(/img/hero/desktop-hero@2x.png); */
    }
  }

  .logo-lloyd-hero {
    padding-left: 146px;
    display: flex;
    flex-direction: column;
    padding-bottom: 243px;
  }
  .soc-menu-list {
    font-size: 16px;
  }
}
