<section class="">
  <div class="section-hero">
    <div class="hero-ridges"></div>
    <h1 class="logo-lloyd-hero">
      Hello. I’m Fullstack developer Lloyd Jefferson.
    </h1>

    <ul class="soc-menu">
      <li class="soc-menu-list">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-soc-link"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="soc-menu-list">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-soc-link"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="soc-menu-list">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-soc-link"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="soc-menu-list">
        <a
          href="https://vita0609.github.io/TeamOfWinners/"
          class="hero-soc-link"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="soc-menu-email">
        <a
          href="mailto:lloydjefferson@gmail.com"
          class="hero-soc-link"
          target="_blank"
        >
          lloydjefferson@gmail.com
        </a>
      </li>
    </ul>
  </div>
</section>
