<button class="change-theme">change theme</button>
<div class="overlay">
  <div class="colors">
    <button class="red" data-color="#ed3b44" data-hover="#E0373F"></button>
    <button class="lime" data-color="#c6e327" data-hover="#BBD432"></button>
    <button class="blue" data-color="#0041e8" data-hover="#093FCB"></button>
    <button class="coral" data-color="#e6533c" data-hover="#CD3D27"></button>
    <button class="gray" data-color="#2b4441" data-hover="#31615C"></button>
    <button class="orange" data-color="#ff7f08" data-hover="#D16500"></button>
  </div>
</div>
