<section>
  <div class="container" id="faq">
    <h2 class="logo-faq">FAQ</h2>
    <ul class="ul-faq accordion-container-faq">
      <!-- первый вопрос -->
      <li class="list-faq ac">
        <div class="question-div">
          <h3 class="question-h ac-header">
            What programming languages ​​are most often used in your project?
          </h3>
          <button
            class="btn-faq ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </div>
        <div class="open-question ac-panel">
          <p class="p-open-faq ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <!-- второй вопрос -->
      <li class="list-faq ac">
        <div class="question-div">
          <h3 class="question-h ac-header">
            What are the deadlines for the project?
          </h3>
          <button
            class="btn-faq ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </div>
        <div class="open-question ac-panel">
          <p class="p-open-faq ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <!-- третий вопрос -->
      <li class="list-faq ac">
        <div class="question-div">
          <h3 class="question-h ac-header">
            What payment methods do you accept?
          </h3>
          <button
            class="btn-faq ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </div>
        <div class="open-question ac-panel">
          <p class="p-open-faq ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <!-- четвертый вопрос -->
      <li class="list-faq ac">
        <div class="question-div">
          <h3 class="question-h ac-header">How can I contact you?</h3>
          <button
            class="btn-faq ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </div>
        <div class="open-question ac-panel">
          <p class="p-open-faq ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <!-- пятый вопрос -->
      <li class="list-faq ac">
        <div class="question-div">
          <h3 class="question-h ac-header">
            Do you provide advice or support?
          </h3>
          <button
            class="btn-faq ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </div>
        <div class="open-question ac-panel">
          <p class="p-open-faq ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <!-- шестой вопрос -->
      <li class="list-faq ac">
        <div class="question-div">
          <h3 class="question-h ac-header">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button
            class="btn-faq ac-trigger"
            type="button"
            aria-label="Open-close button"
          >
            <svg class="faq-btn-icon" width="18" height="18">
              <title>The Arrow up</title>
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </div>
        <div class="open-question ac-panel">
          <p class="p-open-faq ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
