<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="section-hero">
      <div class="section-hero container">
        <h1 class="logo-lloyd-hero">
          Hello. I’m Fullstack developer Lloyd Jefferson.
        </h1>

        <ul class="soc-menu">
          <li class="soc-menu-list">
            <a href="https://www.instagram.com/goitclub/" target="_blank"
              ><span>IG</span></a
            >
          </li>
          <li class="soc-menu-list">
            <a href="https://www.facebook.com/goITclub/" target="_blank"
              ><span>FB</span></a
            >
          </li>
          <li class="soc-menu-list">
            <a href="https://www.youtube.com/c/GoIT" target="_blank"
              ><span>YT</span></a
            >
          </li>
          <li class="soc-menu-list">
            <a href="https://vita0609.github.io/TeamOfWinners/" target="_blank"
              ><span>GH</span></a
            >
          </li>
          <li class="soc-menu-email">
            <a href="mailto:lloydjefferson@gmail.com" target="_blank">
              <span> lloydjefferson@gmail.com </span>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
