<section class="section" id="projects">
  <div class="container">
    <h2 class="project-title">Projects</h2>

    <div class="project-list-wrapper swiper-container">
      <ul class="swiper-wrapper"></ul>
    </div>

    <div class="switcher-wrapper">
      <ul class="switcher-list">
        <li>
          <button type="button" class="swiper-btn project-btn-left" disabled>
            <svg class="project-icon-left">
              <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="swiper-btn project-btn-right">
            <svg class="project-icon-right">
              <use href="./img/icons.svg#icon-arrow-narrow-right-11 "></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
