.change-theme {
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: orangered;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: none;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: #3335;

    .colors {
        left: 50%;
        top: 70%;
        translate: -50%;
        position: absolute;

        button {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: none;
            
        }
        .red {
            background-color: orangered;
            
        }
    }
}

