.change-theme {
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: var(--accent);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 11.5px;
  color: #fff;
  border: 1px solid;
  transition: 200ms;
  z-index: 99;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 500ms;
  z-index: 99;
}

.overlay:not(.open) {
  opacity: 0;
  pointer-events: none;
}

.overlay:not(.open) .colors {
  transform: translateY(10%);
}

.colors {
  transition: 500ms;
  left: 50%;
  top: 92%;
  transform: translateX(-50%);
  position: absolute;
}

.colors button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
}

.colors .red {
  background-color: #ed3b44;
}

.colors .lime {
  background-color: #c6e327;
}

.colors .blue {
  background-color: #0041e8;
}

.colors .coral {
  background-color: #e6533c;
}

.colors .gray {
  background-color: #2b4441;
}

.colors .orange {
  background-color: #ff7f08;
}
