body,
html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.covers-content {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.covers-marquee {
  position: relative;
  right: -800px;
  left: 0;
  overflow: hidden;
  background: url(../img/covers/elements_vectors.png) center no-repeat, #242527;
  background-size: contain;
}

.covers-marquee__inner {
  display: flex;
  transform: rotate(16deg);
  margin-top: 0;
}

.covers-marquee__line {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.covers-marquee__line img {
  width: 282.29px;
  height: 162.94px;
  object-fit: fill;
  margin-right: 20px;
  margin-top: 25px;
}

section {
  margin: 0;
  padding: 0;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.covers-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .covers-marquee__line img {
    width: 544px;
    height: 314px;
  }

  .covers-marquee__line {
    margin-right: 40px;
    margin-top: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .covers-marquee__line img {
    width: 544px;
    height: 314px;
  }

  .covers-marquee__line {
    margin-right: 40px;
    margin-top: 45px;
  }
}
