/* Header Container */
.header-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  top: 23px;
}

@media only screen and (max-width: 375px) {
  .header-container {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding-top: 32px;
  }
}

/* Header Logo Section */
.header-img-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-width: 172px;
}

.header-logo-text {
  color: #FAFAFA;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
}

.header-image {
  border-radius: 18px;
}

/* Menu Box */
.menu-box {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu-box {
      display: flex;
      flex-direction: column;
  }
}

/* Menu Links */
.header-menu-link {
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: #fff;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.02em;
  text-decoration: underline;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: rgb(237, 59, 68);
}

/* Dropdown Menu */
.drop-down {
  margin-top: 8px;
  overflow: hidden;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item-link {
  color: rgb(250, 250, 250);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-link:hover,
.list-item-link:focus,
.list-item-link:active {
  color: rgb(237, 59, 68);
}

/* Order Button */
.header-order-btn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-order-btn {
      display: flex;
      padding: 18px 24px;
      border-radius: 60px;
      color: rgb(250, 250, 250);
      background-color: rgb(237, 59, 68);
      margin-left: auto;
      font-family: 'Inter Tight';
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      letter-spacing: -0.02em;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: 0px solid;
  }

  .header-order-btn:hover,
  .header-order-btn:focus {
      background-color: rgb(224, 55, 63);
  }
}

/* Burger Button */
.burger-btn-box {
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .burger-btn-box {
      display: none;
  }
}

.burger-btn {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* Burger Menu */
.burger-backdrop {
  position: relative;
  overflow: hidden;
}

.burger-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  transform: translateX(100%);
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/header/mobile-menu-background.jpg');
}

@media (min-resolution: 2dppx) {
  .burger-menu {
      background-image: url('/img/header/mobile-menu-background@2x.jpg');
      background-size: cover;
  }
}

.burger-menu.is-open {
  transform: translateX(0);
  opacity: 1;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 39px;
  right: 23px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: 0px solid;
}

.header-close-icon {
  stroke: #fff;
}

.burger-icon {
  stroke: #fff;
}

/* Burger Menu List */
.burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.burger-list-item-link {
  color: rgb(250, 250, 250);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.02em;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-list-item-link:hover,
.burger-list-item-link:focus,
.burger-list-item-link:active {
  color: rgb(237, 59, 68);
}

/* Burger Order Button */
.burger-order-btn-box {
  margin-bottom: 64px;
}

.burger-order-btn {
  display: flex;
  padding: 14px 31px;
  border-radius: 60px;
  color: rgb(250, 250, 250);
  background: rgb(237, 59, 68);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-order-btn:hover,
.burger-order-btn:focus,
.burger-order-btn:active {
  background: rgb(224, 55, 63);
}

/* Slide-in Animation */
@keyframes slidein {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
