.reviews-section {
  padding-bottom: 64px;
  padding-top: 64px;
}
.reviews-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  opacity: 0.4;
  margin-bottom: 32px;
}
.swiper {
  overflow: hidden;
}
.reviews-cards {
  display: flex;
  margin-bottom: 32px;
}
.swiper .reviews-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  border: 1px solid #fafafa33;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--cards);
  margin-right: 0px;
}
.swiper .reviews-card:hover {
  background-color: var(--cards);
}
.reviews-card-img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--main-text);
  margin-bottom: 32px;
}
.reviews-card-data {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.reviews-card-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.review-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  opacity: 0.6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.reviews-swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 1px;
}
.reviews-btn-prev,
.reviews-btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 60px;
  border: 1px solid #fafafa80;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}
.reviews-btn-prev:hover,
.reviews-btn-next:hover {
  background-color: var(--cards);
}
.reviews-btn-prev:focus,
.reviews-btn-next:focus {
  background-color: var(--cards);
  box-shadow: 0 0 0 1px var(--main-text);
}
.reviews-icon {
  width: 24px;
  height: 24px;
  stroke: var(--main-text);
  fill: none;
}
.reviews-btn-prev:disabled,
.reviews-btn-next:disabled {
  opacity: 0.3;
}
@media screen and (min-width: 768px) {
  .reviews-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .reviews-btn-prev,
  .reviews-btn-next {
    width: 68px;
    height: 68px;
  }
  .swiper-wrapper {
    gap: 0;
  }
  .reviews-icon {
    fill: white;
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-section {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}
