<section class="reviews-section" data-aos="fade-right">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <ul class="reviews-cards swiper-wrapper"></ul>
      <div class="reviews-swiper-buttons">
        <button type="button" class="swiper-btn project-btn-left" disabled>
          <svg class="project-icon-left">
            <use href="/img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="swiper-btn project-btn-right">
          <svg class="project-icon-right">
            <use href="/img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
