<section class="reviews-section" data-aos="fade-right">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <ul class="reviews-cards swiper-wrapper"></ul>
      <div class="reviews-swiper-buttons">
        <!-- <button class="reviews-btn-prev" tabindex="0" aria-label="Previous review">
          <svg class="reviews-icon">
            <use href="img/icons.svg#arrow-left"></use>
          </svg>
        </button> -->
        <button type="button" class="swiper-btn project-btn-left" disabled>
          <svg class="project-icon-left">
            <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <!-- <button class="reviews-btn-next" tabindex="0" aria-label="Next review">
          <svg class="reviews-icon">
            <use href="/img/icons.svg#icon-arrow-narrow-right-new"></use>
          </svg>
        </button> -->
        <button type="button" class="swiper-btn project-btn-right">
          <svg class="project-icon-right">
            <use href="/img/icons.svg#icon-arrow-narrow-right-11"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
