.benefits-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.canvas-decoration {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .benefits-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .title-benefits {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1440px) {
  .container-content-benefits {
    max-width: 680px;
  }
}

.cards-benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .cards-benefits {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 64px;
  }
}

.cards-item-benefits {
  display: flex;
  flex-direction: column;
  gap: 64px;
  border-radius: 20px;
  padding: 24px;
  background-color: #242527;
}

@media screen and (min-width: 768px) {
  .cards-item-benefits {
    max-width: calc((100% - 16px) / 2);
  }
}

.cards-item-container {
  background-color: var(--accent);
  border-radius: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-icon-benefits {
  fill: none;
  stroke: #fafafa;
  width: 24px;
  height: 24px;
}

.cards-text-benefits {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cards-title-benefits {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.cards-desc-benefits {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.btn-benefits {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 188px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-benefits:hover {
  border-color: #fafafa;
}
